* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 700px 300px;
  grid-gap: 0px;
  background-color: #fafafa;
  grid-template-areas: "Logo" "Content";
}
.logo {
  background-color: #f3f3f3;
  color: #000;
  display: flex;
  grid-template: "Logo";
}
.logo-flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.logo-image {
  display: flex;
  align-items: center;
}
.logo-image a {
  font-family: 'Armata', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}
.logo-menu {
  display: flex;
  align-items: center;
}
.logo-menu a {
  color: #444;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.logo-menu > span {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
}
.logo-menu > span:hover {
  color: #999;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: coral;
}
.big-image {
  background-image: url('/Content/Assets/d192862f-pexels-delayed-4-compressor.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  grid-template: "Content";
}
.register-form {
  grid-template: "Content";
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-areas: "left center rigth";
}
.left-content {
  grid-area: left;
  background: linear-gradient(30);
  background-color: aquamarine;
}
.center-content {
  grid-area: center;
  background: linear-gradient(30);
  background-color: azure;
  display: flex;
  flex-flow: column;
  padding: 5px 10px;
}
.rigth-content {
  grid-area: rigth;
  background-color: aquamarine;
}
.form-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: space-around;
}
.form-box {
  width: 50%;
  display: flex;
  flex-flow: column;
}