.saturate {
  filter: saturate(3);
}
.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(160%);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(100%);
}
.huerotate {
  filter: hue-rotate(180deg);
}
.rss.opacity {
  filter: opacity(50%);
}
* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px repeat(auto-fill, auto);
  grid-gap: 0px;
  background-color: #fafafa;
  grid-template-areas: "Logo" "big-image" "compensation-type";
}
.logo {
  background-color: #f3f3f3;
  color: #000;
  display: flex;
  grid-template: "Logo";
}
.logo-flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.logo-image {
  display: flex;
  align-items: center;
}
.logo-image a {
  font-family: 'Armata', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}
.logo-menu {
  display: flex;
  align-items: center;
}
.logo-menu a {
  color: #444;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.logo-menu > span {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
}
.logo-menu > span:hover {
  color: #999;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: coral;
}
.big-image {
  filter: brightness(1.45);
  /*transition: ease-out;
    transition-duration: 50s;*/
  background-image: url('/Content/Assets/Airplane/PlainInClouds.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  grid-template: "big-image";
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
}
.big-image .header-text {
  grid-row: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 500;
  text-shadow: 3px 2px 3px #888;
  color: #333;
  display: flex;
  align-content: center;
  justify-content: center;
}
.big-image .header-text span {
  margin: auto 30px auto auto;
}
.big-image .header-subtext {
  grid-row: span 3;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.big-image .header-subtext p {
  text-shadow: 2px 2px 3px #aaa;
  color: #255;
  width: 750px;
  text-align: center;
  margin: auto 30px auto auto;
}
.compensation-type {
  grid-template: "compensation-type";
  grid-template-columns: auto 400px 400px 400px auto;
  grid-template-rows: 100px auto;
  grid-column-gap: 10px;
  display: grid;
  font-family: "Open Sans", sans-serif;
}
.compensation-type .header-text {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 2px 2px 3px #888;
  color: #333;
  display: flex;
  align-content: center;
  justify-content: center;
}
.compensation-type .header-text span {
  display: flex;
}
.compensation-type span {
  font-size: 30px;
  text-shadow: 2px 2px 3px #aaa;
  color: #255;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: auto auto auto auto;
}
.compensation-type .span {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
.compensation-type .span .image {
  display: grid;
  grid-template-columns: auto 250px auto;
  grid-template-rows: 250px;
}
.compensation-type .span .image div {
  grid-row: 1;
  grid-column: 2;
  border: solid 4px #009fe3;
  box-shadow: 0 0 8px #009fe3;
  border-radius: 100%;
}
.compensation-type .span .image.image-delay > div {
  background-image: url('/Content/Assets/закъснение-полет.png');
  background-position-x: 300px;
  background-size: 450px;
}
.compensation-type .span .image.image-cancel > div {
  background-image: url('/Content/Assets/излитащ-самолет.jpg');
  background-position-x: 250px;
  background-size: 450px;
}
.compensation-type .span .image.image-denied-bording > div {
  background-image: url('/Content/Assets/отказан-достъп-до-борда-1.jpg');
  background-position-x: 350px;
  background-size: 380px;
}
.compensation-type .span-1 {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}
.compensation-type .span-2 {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}
.compensation-type .span-3 {
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 4;
}
.register-form {
  grid-template: "Content";
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-areas: "left center rigth";
}
.left-content {
  grid-area: left;
  background: linear-gradient(30);
  background-color: aquamarine;
}
.center-content {
  grid-area: center;
  background: linear-gradient(30);
  background-color: azure;
  display: flex;
  flex-flow: column;
  padding: 5px 10px;
}
.rigth-content {
  grid-area: rigth;
  background-color: aquamarine;
}
.form-row {
  margin: 15px 0 0 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: space-around;
}
.form-row-choise {
  margin: 5px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-row-choise label {
  margin: 20px 0 0 0;
  display: inline-flex;
}
.form-row-yes-no,
.form-row-rodio {
  margin: 5px 0 0 0;
  display: grid;
  padding: 0 0 0 10px;
  grid-template-columns: 80px 80px auto;
}
.form-row-yes-no label,
.form-row-rodio label {
  margin: 30px 0 0 0;
  display: inline-flex;
}
.form-box {
  width: 50%;
  display: flex;
  flex-flow: column;
}
.form-box-upload {
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.form-box-signiture {
  width: 380px;
  display: flex;
  flex-flow: column;
}
.width {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.form-box-connection {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 8px 0 0 0;
}
.form-box-connection > div {
  flex-flow: column;
  width: 390px;
}
.form-box-connection:first-child button.bDelete {
  display: none;
}
.upload-box div {
  margin-bottom: 10px;
}