label {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 5px 0;
  padding-left: 10px;
  justify-content: flex-start;
  font-weight: 600;
}
label.file-upload {
  margin-left: 10px;
}
canvas {
  border: 1px solid #009fe3;
  border-radius: 2px;
  outline: none;
  background-color: white;
}
canvas.error {
  border: 1px solid red;
  border-radius: 2px;
}
canvas.success {
  border: 1px solid #009fe3;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 4px #009fe3;
}
input[type="text"] {
  width: 370px;
  padding: 12px 30px 12px 20px;
  /*margin: 8px 0;*/
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 8px #009fe3;
}
input.remove-shadow:focus {
  outline: none;
  box-shadow: none !important;
}
textarea {
  width: 100%;
  padding: 12px 20px 12px 20px;
  /*margin: 8px 0;*/
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  resize: none;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #009fe3;
}
button.upload {
  width: 350px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-color: #009fe3;
  background-color: #ffffff;
}
button.upload:hover {
  background-color: #f0f0f0;
}
button.upload.success + .icon::before {
  color: #009fe3;
}
button.upload + .icon::before {
  content: '\e164';
  margin-left: -30px;
  color: #1e201e;
}
button.clear {
  width: 302px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-color: #009fe3;
  background-color: #ffffff;
}
button.clear:hover {
  background-color: #ffffff;
}
button.submit {
  width: 420px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #009fe3;
}
button.submit:hover {
  background-color: #00587d;
}
button.submit .icon::before {
  font-size: 22px;
  content: '\e084';
  margin-right: 15px;
  color: white;
}
button.reset {
  width: 420px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #8d9db6;
}
button.reset:hover {
  background-color: #566987;
}
button.reset .icon::before {
  font-size: 22px;
  content: '\e014';
  margin-right: 15px;
  color: white;
}
.success input {
  border-color: #009fe3;
}
.success input:focus {
  outline: none;
  box-shadow: 0 0 8px #009fe3;
}
.success input + .icon::before {
  content: '\e084';
  margin-left: -30px;
  color: #009fe3;
}
.error input {
  border-color: red;
  color: red;
}
.error input:focus {
  outline: none;
  box-shadow: 0 0 8px #c80a0a;
}
.error input + .icon::before {
  content: '\e014';
  margin-left: -30px;
  color: red;
}
.form-hedar {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 35px;
  margin: 20px 0 0 0;
}
.form-subheder {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 24px;
  color: #009fe3;
  margin: 20px 0 5px 0;
}
.form-subtext {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-size: 14px;
  /*margin: 0 5px;*/
}
.lSuggestoin {
  color: #009fe3;
  position: absolute;
  margin: -1px 0 0 0;
  background-color: white;
  box-sizing: border-box;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: #009fe3;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  list-style-type: none;
  display: none;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-top-style: none;
}
.lSuggestoin li {
  padding: 12px 0 12px 20px;
}
.lSuggestoin li.selected {
  color: #fff;
  background-color: #009fe3;
}
.lSuggestoin li:hover {
  color: darkblue;
  background-color: lightgray;
}
input[type=radio] {
  display: none;
}
.radio {
  margin: 10px 20px 0 0;
}
.radio.selected::before {
  background-color: #009fe3;
}
.radio::before {
  margin: 0 6px 0 0;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #009fe3;
  padding: 4px;
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
  border-radius: 100%;
}
.checkbox {
  margin: 10px 10px 0 0;
  text-wrap: none;
}
.checkbox.selected::before {
  background-color: #009fe3;
}
.checkbox span {
  font-weight: 400;
}
.checkbox::before {
  margin: 0 5px 0 0;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #009fe3;
  padding: 4px;
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
}
.error .checkbox {
  border-color: red;
  color: red;
}
.error .checkbox::before {
  border-color: red;
  color: red;
}
button:focus {
  outline: none;
}
button:hover,
li:hover,
.radio:hover,
.checkbox:hover {
  cursor: pointer;
}
button.bDelete {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0px;
}
button.bDelete i::before {
  color: #009fe3;
  font-size: 18px;
  font-weight: 600;
  content: '\e020';
}
button.bAdd {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  height: 43px;
  width: 50px;
}
button.bAdd i::before {
  color: #009fe3;
  font-size: 25px;
  font-weight: 600;
  content: '\e081';
}
.form-box-signiture.error label {
  color: red;
}
.form-box-signiture.error canvas {
  border: solid 2px red;
  box-shadow: 0 0 4px red;
}
.form-box-signiture.success label {
  color: #009fe3;
}
.form-box-signiture.success canvas {
  border: solid 2px #009fe3;
  box-shadow: 0 0 4px #009fe3;
}