label {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  padding-left: 10px;
  justify-content: flex-start;
}
input[type="text"] {
  width: 85%;
  padding: 12px 20px;
  /*margin: 8px 0;*/
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
}
.form-hedar {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0 0 0;
}
.form-subheder {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 24px;
  color: #009fe3;
  margin: 20px 0 5px 0;
}
.form-subtext {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-size: 14px;
  /*margin: 0 5px;*/
}