label {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 5px 0;
  padding-left: 10px;
  justify-content: flex-start;
  font-weight: 600;
}
input[type="text"] {
  width: 85%;
  padding: 12px 30px 12px 20px;
  /*margin: 8px 0;*/
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
}
.form-hedar {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 35px;
  margin: 20px 0 0 0;
}
.form-subheder {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 24px;
  color: #009fe3;
  margin: 20px 0 5px 0;
}
.form-subtext {
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-size: 14px;
  /*margin: 0 5px;*/
}
.error input {
  border-color: red;
  color: red;
}
.error input + .icon::before {
  content: '\e101';
  margin-left: -30px;
  color: red;
}
.lSuggestoin {
  width: 85%;
  box-sizing: border-box;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: #009fe3;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  list-style-type: none;
  font-family: PT Sans, sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  /*position: absolute;*/
}
.lSuggestoin li {
  padding: 12px 0 12px 20px;
}