#signiture-div {
  width: 500px;
  height: 300px;
  position: absolute;
  z-index: 100;
}
canvas {
  border: 1px solid #009fe3;
  border-radius: 2px;
  outline: none;
  background-color: white;
  z-index: 0;
}
canvas.error {
  border: 1px solid red;
  border-radius: 2px;
}
canvas.success {
  border: 1px solid #009fe3;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 4px #009fe3;
}
input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 12px 30px 12px 20px;
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 4px #009fe3;
}
input.remove-shadow:focus {
  outline: none;
  box-shadow: none !important;
}
textarea {
  padding: 12px 20px 12px 20px;
  /*margin: 8px 0;*/
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  resize: none;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #009fe3;
}
button.upload {
  width: 350px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 1px solid #009fe3;
  border-radius: 2px;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-color: #009fe3;
  background-color: #ffffff;
}
button.upload:hover {
  background-color: #f0f0f0;
}
button.upload.success + .icon::before {
  color: #009fe3;
}
button.upload + .icon::before {
  content: '\e164';
  margin-left: -30px;
  color: #1e201e;
}
button.submit {
  margin: 10px 0 0 0;
  border: solid 1px #009fe3;
  font-family: Helvetica, sans-serif;
  width: 300px;
  height: 48px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 3px;
  background-color: #009fe3;
}
button.submit:hover {
  background-color: #00587d;
}
button.reset {
  margin: 10px 0 0 0;
  border: solid 1px #8d9db6;
  font-family: Helvetica, sans-serif;
  width: 300px;
  height: 48px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 3px;
  background-color: #8d9db6;
}
button.reset:hover {
  background-color: #566987;
}
button.clear {
  margin: 10px 0 0 0;
  width: 120px;
  height: 35px;
  border-color: #009fe3;
  background-color: #ffffff;
  border: solid 1px #8d9db6;
}
button.clear:hover {
  background-color: #ffffff;
}
button.submit-claim {
  width: 280px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  height: 45px;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #009fe3;
}
button.submit-claim.left-claim {
  margin: 0 0 0 110px;
}
button.submit-claim.rigth-claim {
  margin: 0 0 0 60px;
}
button.submit-claim:hover {
  background-color: #00587d;
}
button.submit-claim .icon::before {
  font-size: 16px;
  content: '\e084';
  margin-right: 15px;
  color: white;
}
button.claim-reset {
  background-color: #8d9db6;
}
button.claim-reset:hover {
  background-color: #566987;
}
button.claim-reset .icon::before {
  font-size: 16px;
  content: '\e014';
  margin-right: 15px;
  color: white;
}
.success input {
  border-color: #009fe3;
}
.success input:focus {
  outline: none;
  box-shadow: 0 0 8px #009fe3;
}
.success input + .icon::before {
  content: '\e084';
  margin-left: -30px;
  color: #009fe3;
}
.sub-error {
  display: none;
}
.error input {
  border-color: red;
  color: red;
}
.error input:focus {
  outline: none;
  box-shadow: 0 0 8px #c80a0a;
}
.error input + .icon::before {
  content: '\e014';
  margin-left: -30px;
  color: red;
}
.error .sub-error {
  margin: 5px 0;
  color: red;
  display: block;
}
.error-row {
  margin: 10px 0 0 0;
  color: red;
}
.form-hedar {
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0 0 0;
}
.form-hedar.view {
  text-transform: uppercase;
  margin: 50px 0 20px 110px;
  font-weight: 700;
  font-size: 24px;
}
.form-subheder {
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 24px;
  color: #009fe3;
  margin: 30px 0 5px 0;
}
.form-subheder-dark {
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-weight: 700;
  font-size: 24px;
  color: #00344a;
}
.form-subtext {
  margin: 30px 0 5px 0;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0 0 0;
  width: 690px;
}
.lSuggestoin {
  color: #009fe3;
  position: absolute;
  margin: -1px 0 0 0;
  background-color: white;
  width: 300px;
  box-sizing: border-box;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: #009fe3;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  list-style-type: none;
  display: none;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-top-style: none;
}
.lSuggestoin li {
  padding: 12px 0 12px 20px;
}
.lSuggestoin li.selected {
  color: #fff;
  background-color: #009fe3;
}
.lSuggestoin li:hover {
  color: darkblue;
  background-color: lightgray;
}
input[type=radio] {
  display: none;
}
.radio {
  margin: 10px 20px 0 0;
}
.radio.selected::before {
  background-color: #009fe3;
}
.radio::before {
  margin: 0 6px 0 0;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #009fe3;
  padding: 4px;
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
  border-radius: 100%;
}
.checkbox {
  margin: 10px 10px 0 0;
  text-wrap: none;
}
.checkbox.selected::before {
  background-color: #009fe3;
}
.checkbox span {
  font-weight: 400;
}
.checkbox::before {
  margin: 0 5px 0 0;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #009fe3;
  padding: 4px;
  box-sizing: border-box;
  background-clip: content-box;
  display: block;
}
.error .checkbox {
  border-color: red;
  color: red;
}
.error .checkbox::before {
  border-color: red;
  color: red;
}
button:focus {
  outline: none;
}
button:hover,
li:hover,
.radio:hover,
.checkbox:hover {
  cursor: pointer;
}
button.bDelete {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0px;
}
button.bDelete i::before {
  color: #009fe3;
  font-size: 18px;
  font-weight: 600;
  content: '\e020';
}
button.bAdd {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  height: 43px;
  width: 50px;
}
button.bAdd i::before {
  color: #009fe3;
  font-size: 25px;
  font-weight: 600;
  content: '\e081';
}
.form-box-signiture.error label {
  color: red;
}
.form-box-signiture.error canvas {
  border: solid 2px red;
  box-shadow: 0 0 4px red;
}
.form-box-signiture.success label {
  color: #009fe3;
}
.form-box-signiture.success canvas {
  border: solid 2px #009fe3;
  box-shadow: 0 0 4px #009fe3;
}
.button-smal {
  border: solid 1px #008fd3;
  font-family: Helvetica, sans-serif;
  width: 250px;
  height: 35px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border-radius: 3px;
}
.button-smal:hover {
  background-color: lavender;
}
.button-home {
  width: 200px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}
label {
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-weight: 400;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 5px 0;
  justify-content: flex-start;
}
label span.requared {
  margin-left: 2px;
  color: red;
}
label.file-upload {
  margin-left: 10px;
}
label.heder {
  font-size: 18px;
  font-weight: 600;
}
label.data {
  font-size: 18px;
  color: #008dca;
}
p.left {
  font-size: 16px;
  color: #009fe3;
  margin-left: 100px;
  width: 500px;
}
input.left {
  width: 280px;
  margin-left: 110px;
}
input.rigth {
  width: 280px;
  margin-left: 60px !important;
}
.button-smal {
  width: 200px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}
button.claim {
  display: block;
  width: 200px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 230px;
  background-color: #009fe3;
}
button.claim:hover {
  background-color: #00587d;
}
button.claim i {
  margin-right: 10px;
}
button.claim.big {
  background-color: #00587d;
  width: 300px;
}
button.submit-smal {
  display: block;
  width: 200px;
  padding: 12px 5px 12px 5px;
  box-sizing: border-box;
  border: 0px none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border-color: #009fe3;
  background-color: #667292;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #009fe3;
}
button.submit-smal:hover {
  background-color: #00587d;
}
.autentication-error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 8px 0;
  color: red;
}
.autentication-error.left {
  margin-left: 110px;
}
.info p {
  margin: 10px 0 0 110px;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  width: 700px;
}
.blue {
  color: #008fd3;
}
.red,
label.red {
  color: #7a0f0f;
}
/*[delay], [cancel], [denay], [willness] {
    display: none;
}*/
[disabled] {
  filter: opacity(50%);
}
.blur {
  filter: blur(2px);
}
span.euro {
  color: indianred;
}
.uppercase {
  text-transform: uppercase;
}
p.info {
  text-align: left;
  font-family: "PT Sans", sans-serif;
  color: #141a30;
  font-size: 15px;
  font-weight: 400;
}