@media only screen and (max-width: 720px) {
  .main-layout {
    grid-template-rows: 17vw auto auto;
    grid-template-areas: "Logo" "content" "bottom-spacer";
  }
  .logo-menu-mobile div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-menu-mobile div a {
    color: #444;
    font-family: 'PT Sans';
    font-size: 4vw;
    font-weight: 500;
    text-decoration: none;
  }
  .logo-menu-mobile div > span {
    width: 100%;
    padding-left: 110px;
    margin-top: 10px !important;
    background-color: white;
    height: 12vw;
    display: flex;
    margin: 0 0 0 0px;
    flex-flow: row;
    align-items: center;
  }
  .logo-menu-mobile div > span .open:before {
    margin-left: 5px;
    content: "\e259";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .close:before {
    margin-left: 5px;
    content: "\e260";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .claims:before {
    margin-left: 5px;
    content: "\e032";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .faq:before {
    margin-left: 5px;
    content: "\e085";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .claim:before {
    margin-left: 5px;
    content: "\e065";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .us:before {
    margin-left: 5px;
    content: "\e086";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .contact:before {
    margin-left: 5px;
    content: "\2709";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .enter:before {
    margin-left: 5px;
    content: "\e033";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span .off:before {
    margin-left: 5px;
    content: "\e017";
    font-size: 22px;
    color: black;
  }
  .logo-menu-mobile div > span a {
    margin-left: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .logo-menu {
    display: none;
  }
  .logo-flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .logo-flex-container .logo-image img {
    height: 9vw;
  }
  .logo-flex-container .menu-button {
    display: flex;
    align-items: center;
  }
  .logo-flex-container .menu-button button {
    border: none;
    background-color: transparent;
  }
  .logo-flex-container .menu-button img {
    height: 8vw;
  }
  .big-image {
    grid-template: "big-image";
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 10px;
  }
  .big-image .header-text {
    margin-top: 30px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    color: #050505;
    display: flex;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .big-image .header-text span {
    font-size: 40px;
    font-weight: 800;
    margin: auto 30px auto auto;
  }
  .big-image > div.image-plaine {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .big-image img {
    width: 500px;
    max-width: 500px;
  }
  .big-image .header-subtext {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .big-image .header-subtext p {
    font-size: 30px;
    color: #233;
    width: 700px;
    text-align: center;
  }
  .big-image .header-button {
    margin-bottom: 30px;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .big-image .header-button a {
    margin: auto auto 30px auto;
  }
  .button-home {
    width: 380px;
    padding: 12px 5px 12px 5px;
    align-content: center;
    justify-content: center;
  }
  .span-1 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .span-2 {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .span-3 {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .compensation-type {
    padding: 50px 0 150px 0;
    grid-template: "compensation-type";
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 70px;
    display: grid;
  }
  .compensation-type .header-text {
    height: 200px;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 40px;
  }
  .compensation-type .header-text span {
    display: flex;
  }
  .compensation-type .span {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
  }
  .compensation-type .span > * {
    margin-top: 40px;
  }
  .compensation-type .span > span {
    font-size: 32px;
    font-weight: 500;
    color: #004663;
    text-transform: uppercase;
  }
  .compensation-type .span > p {
    font-size: 14px;
    font-weight: 500;
    color: grba(2, 2, 14, 1);
  }
  .compensation-type .span .image {
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: 350px;
  }
  .compensation-type .span .image div {
    grid-row: 1;
    grid-column: 2;
    box-shadow: 0 0 200px #009fe3;
    border-radius: 100%;
  }
  .compensation-type .span .image.image-delay > div {
    background-image: url('/Content/Assets/закъснение-полет.png');
    background-position-x: -170px;
    background-size: 620px;
  }
  .compensation-type .span .image.image-cancel > div {
    background-image: url('/Content/Assets/излитащ-самолет.jpg');
    background-position-x: -270px;
    background-size: 630px;
  }
  .compensation-type .span .image.image-denied-bording > div {
    background-image: url('/Content/Assets/overbooking.jpg');
    background-position-x: -50px;
    background-size: 550px;
  }
  .compensation-type > .span {
    padding: 30px 0;
  }
  .compensation-amount {
    grid-template: "compensation-amount";
    grid-template-columns: auto 600px auto;
    grid-template-rows: 100px repeat(3, 450px) 50px;
    grid-row-gap: 50px;
  }
  .compensation-amount > div.background {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-size: cover;
    filter: opacity(20%);
    z-index: 1;
  }
  .compensation-amount * {
    z-index: 100;
  }
  .compensation-amount span {
    color: #222;
    text-align: center;
    margin: auto auto 10px auto;
  }
  .compensation-amount .header-text {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .compensation-amount .span {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
  }
  .compensation-amount .span > * {
    margin-top: 8px;
  }
  .compensation-amount .span > span.text-black {
    font-size: 28px;
    font-weight: 600;
  }
  .compensation-amount .span > span.text-blue {
    font-size: 36px;
    font-weight: 700;
    color: #009fe3;
  }
  .compensation-amount .span .image img {
    display: block;
    height: 320px;
    margin: auto;
  }
  .compensation-steps {
    grid-template: "compensation-steps";
    grid-template-columns: auto 600px auto;
    grid-template-rows: 100px repeat(400px, 3) 50px;
    grid-column-gap: 15px;
    display: grid;
    padding: 50px 0;
  }
  .compensation-steps span {
    text-align: center;
    margin: auto auto auto auto;
  }
  .compensation-steps .header-text {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px 0 30px 0;
    font-size: 34px;
  }
  .compensation-steps .span {
    padding: 50px 0;
  }
  .compensation-steps .span > span.text-black {
    margin: 10px 0 0 0;
    font-size: 28px;
    font-weight: 600;
  }
  .compensation-steps .span > p {
    margin: 10px auto;
    text-align: center;
    width: 350px;
    font-size: 20px;
  }
  .compensation-steps .span .image img {
    display: block;
    height: 180px;
    margin: auto;
  }
  .links {
    grid-template: "links";
    display: grid;
    height: auto;
    grid-template-rows: 50px repeat(2, 230px) 100px;
    grid-template-columns: auto 600px auto;
    font-size: 18px;
    color: white;
  }
  .links > .span-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 2;
  }
  .links > .span-3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 2;
  }
  .links > .span-1 {
    display: none !important;
  }
  .links .span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links .span > * {
    margin-bottom: 10px;
  }
  .links .span a,
  .links .span a:visited {
    text-decoration: underline;
    color: white;
  }
  .links .span .heder {
    font-size: 35px;
    text-transform: uppercase;
  }
  button.claim {
    display: block;
    padding: 12px 5px 12px 5px;
    box-sizing: border-box;
    border: 0px none;
    border-radius: 4px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    color: #141a30;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border-color: #009fe3;
    background-color: #667292;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 350px;
    background-color: #009fe3;
  }
  button.claim:hover {
    background-color: #00587d;
  }
  button.claim i {
    margin-right: 10px;
  }
  .button-home {
    width: 350px;
    padding: 12px 5px 12px 5px;
    box-sizing: border-box;
    border: 0px none;
    border-radius: 4px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    color: #141a30;
    font-size: 22px;
    font-weight: 500;
    outline: none;
    border-color: #009fe3;
    background-color: #667292;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .form-content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 50px 0;
    background-size: cover;
  }
  .form-content span {
    font-family: "PT Sans", sans-serif;
    font-size: 28px;
  }
  .form-content .contact-form-main {
    padding: 0 10px 0 10px;
  }
  .form-content .contact-form-main input[type=text],
  .form-content .contact-form-main textarea {
    width: 450px;
  }
  .form-content .contact-form-main form > div {
    margin-top: 15px;
  }
  .form-content .contact-form-main .button-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .form-content .login-form-main input[type=text],
  .form-content .login-form-main input[type=password],
  .form-content .login-form-main textarea {
    width: 350px;
  }
  .form-content .login-form-main form {
    margin: auto auto auto auto;
    width: 380px;
    padding-left: 30px;
  }
  .form-content .login-form-main form > div {
    margin-top: 15px;
  }
  .form-content .login-form-main .button-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .register-form {
    grid-template: "Content";
    display: grid;
    grid-template-columns: 20px 400px 20px;
    grid-template-rows: 10px auto 20px;
    grid-template-areas: ". . ." ". center . " ". . .";
  }
  .progress {
    display: none;
  }
  .form-row {
    margin: 15px 0 0 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: space-around;
  }
  .form-box {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .form-box > div {
    width: 400px;
  }
  .form-box.left label {
    margin: 15px 0 5px 0;
  }
  .form-box.left input[type=text],
  .form-box.left ul {
    margin-left: 0px;
  }
  .form-box.rigth label {
    margin: 15px 0 5px 0;
  }
  .form-box.rigth input[type=text],
  .form-box.rigth ul {
    margin-left: 0px;
  }
  .center-content h2 {
    margin: 10px 0 0 0;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 500;
    width: 350px;
  }
  .center-content p {
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    width: 350px;
  }
  div.form-subtext {
    width: 400px !important;
  }
  .form-box-width {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .form-box-width label {
    margin-left: 0;
  }
  .form-box-width textarea {
    margin-left: 0px;
    width: 300px;
  }
  .form-box-width input[type=text] {
    width: 250px;
    margin-left: 0;
  }
  .form-box-upload {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }
  .form-box-upload > div {
    margin-left: 0;
    display: flex;
    flex-flow: column;
  }
  .form-box-upload > div label.file-upload {
    margin-top: 7px;
  }
  .form-box-upload > label {
    margin-left: 0;
  }
  .form-box-signiture {
    width: 400px;
    display: flex;
    flex-flow: column;
  }
  .form-box-signiture > div {
    margin-left: 0;
  }
  .form-box-signiture canvas {
    margin-right: 10px;
  }
  .form-box-signiture > label {
    margin-left: 0;
  }
  div.width-550 {
    width: 550px;
  }
  div.width-550 .form-box-45 {
    width: 550px;
  }
  div.width-550 form-box > div {
    width: 550px;
  }
  div.width-550 form-box-45 > div {
    width: 550px;
  }
  div.width-550 .form-box-45.rigth,
  div.width-550 .form-box-5 {
    margin-top: 9px;
  }
  div.width-550 input[type=text] {
    width: 500px;
    font-size: 18px;
  }
  div.width-550 textarea {
    width: 500px;
    font-size: 18px;
  }
  div.width-550 label {
    font-size: 18px;
  }
  div.width-550 .form-hedar {
    font-size: 34px;
  }
  div.width-550 button.submit,
  div.width-550 button.reset {
    font-size: 18px;
    width: 500px;
  }
  div.width-550 button.clear {
    font-size: 16px;
    width: 140px;
    height: 42px;
    margin: 15px 0;
  }
  div.width-550 button.clear {
    font-size: 15px;
  }
  div.width-550 .form-subtext {
    width: 500px !important;
  }
  div.width-550 .form-row-yes-no {
    width: 500px;
  }
  div.width-550 .form-row-yes-no .checkbox {
    display: grid;
    grid-template-columns: 30px auto;
  }
  div.width-550 .form-row-yes-no .checkbox::before {
    margin-top: 2px;
  }
  .contact-main {
    padding-left: 0;
  }
  .contact-main .contact-heder {
    width: 400px;
  }
  .contact-main .contact-data {
    width: 400px;
  }
  .contact-main .value {
    width: 300px;
    margin: 0;
    font-size: 18px;
    color: #009fe3;
    padding-left: 0;
  }
  button.reset {
    margin-top: 30px;
  }
  .list-container .claim-list {
    display: grid;
    grid-template-columns: 110px 110px 0 158px 0;
  }
  .list-container .claim-list-heder {
    display: grid;
    grid-template-columns: 110px 110px 0 158px 0;
  }
  .mnone {
    display: none;
  }
  .bottom-spacer .bottom {
    background-color: white;
  }
  .bottom-spacer .bottom span,
  .bottom-spacer .bottom a {
    color: black;
  }
  .data-content {
    grid-template: "Content";
    display: grid;
    grid-template-columns: 400px;
    grid-template-areas: "center";
    padding: 50px 50px;
  }
  .data-content .info-page {
    grid-area: center;
    padding: 10px 20px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
  }
  .data-content .info-page h1 {
    margin: 15px 0 0 0;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .data-content .info-page li {
    margin: 0 0 0 40px;
    text-align: justify;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
  }
  .data-content .info-page h2 {
    margin: 15px 0 0 0;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
  .data-content .info-page p {
    margin: 20px 0 0 0;
    text-align: justify;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
  }
}