@border-blue-color: rgb(0, 159, 227);
@blue-color: #009fe3;
@dark-color: rgb(30, 32, 30);
@button-color: rgb(230, 230, 230);
@button-hover-color: rgb(240, 240, 240);
#font() {
    font-family: PT Sans, sans-serif;
    color: rgb(20, 26, 48);
    font-size: 15px;
    font-weight: 400;
}

#font-big() {
    font-family: PT Sans, sans-serif;
    color: rgb(20, 26, 48);
    font-size: 22px;
    font-weight: 500;
}

#ifont() {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

label {
    #font;
    margin: 0 0 5px 0;
    padding-left: 10px;
    justify-content: flex-start;
    font-weight: 600;
    &.file-upload{
        margin-left: 10px;
    }
}

input[type="text"] {
    width: 370px;
    padding: 12px 30px 12px 20px;
    /*margin: 8px 0;*/
    box-sizing: border-box;
    border: 1px solid @border-blue-color;
    border-radius: 2px;
    #font;
    outline: none;

    &:focus {
        outline: none;
        box-shadow: 0 0 8px @blue-color;
    }
}

input.remove-shadow:focus {
    outline: none;
    box-shadow: none !important;
}

textarea {
    width: 100%;
    padding: 12px 20px 12px 20px;
    /*margin: 8px 0;*/
    box-sizing: border-box;
    border: 1px solid @border-blue-color;
    border-radius: 2px;
    #font;
    outline: none;
    resize:none;
    &:focus {
        outline: none;
        box-shadow: 0 0 8px @blue-color;
    }
}

button.upload {
    width: 300px;
    padding: 12px 5px 12px 5px;
    box-sizing: border-box;
    border: 1px solid @border-blue-color;
    border-radius: 2px;
    #font;
    outline: none;
    border-color: @blue-color;
    background-color: @button-color;

    &:hover {
        background-color: @button-hover-color;
    }

    &.success {
        + .icon::before {
            color: @blue-color;
        }
    }


    + .icon::before {
        content: '\e164';
        margin-left: -30px;
        color: @dark-color;
    }
}

#button-big() {
    width: 380px;
    padding: 12px 5px 12px 5px;
    box-sizing: border-box;
    border: 0px none;
    border-radius: 4px;
    #font-big;
    outline: none;
    border-color: @blue-color;
    background-color: #667292;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

button.submit {
    #button-big;

    &:hover {
        background-color: #8d9db6;
    }

    .icon::before {
        font-size: 22px;
        content: '\e084';
        margin-right: 15px;
        color: white;
    }
}

button.reset {
    #button-big;
    background-color: #87bdd8;

    &:hover {
        background-color: #b7d7e8;
    }

    .icon::before {
        font-size: 22px;
        content: '\e014';
        margin-right: 15px;
        color: white;
    }
}

.success {
    input {
        &:focus {
            outline: none;
            box-shadow: 0 0 8px @blue-color;
        }

        border-color: @blue-color;

        + .icon::before {
            content: '\e084';
            margin-left: -30px;
            color: @blue-color;
        }
    }
}

.error {
    input {
        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(200, 10, 10, 1);
        }

        border-color: red;
        color: red;

        + .icon::before {
            content: '\e014';
            margin-left: -30px;
            color: red;
        }
    }
}

.form-hedar {
    #font;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0 0 0;
}

.form-subheder {
    #font;
    font-weight: 700;
    font-size: 24px;
    color: @border-blue-color;
    margin: 20px 0 5px 0;
}

.form-subtext {
    #font;
    font-size: 14px;
    /*margin: 0 5px;*/
}



.lSuggestoin {
    color: @blue-color;
    position: absolute;
    margin: -1px 0 0 0;
    background-color: white;
    //width: 370px;
    box-sizing: border-box;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: @border-blue-color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    list-style-type: none;
    display: none;
    #font;
    outline: none;
    border-top-style: none;
    //box-shadow: 0 0 8px @blue-color;
    li {
        &.selected {
            color: #fff;
            background-color: @blue-color;
        }

        padding: 12px 0 12px 20px;

        &:hover {
            color: darkblue;
            background-color: lightgray;
        }
    }
}

input[type=radio] {
    display: none;
}

.radio {
    margin: 10px 20px 0 0;

    &.selected::after {
        background-color: @blue-color;
    }

    &::after {
        margin: 5px 0 0 0;
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid @blue-color;
        padding: 4px;
        box-sizing: border-box;
        background-clip: content-box;
        display: block;
        border-radius: 100%;
    }
}

button:focus {
    outline: none;
}

button, li, .radio {
    &:hover {
        cursor: pointer;
    }
}

button.bDelete {
    border-style: none;
    background-color: rgba(0,0,0,0);
    margin-left: 10px;

    i::before {
        color: @blue-color;
        font-size: 18px;
        font-weight: 600;
        content: '\e020'
    }
}

button.bAdd {
    border-style: none;
    background-color: rgba(0,0,0,0);
    margin-left: 0;
    height: 43px;
    width: 50px;

    i::before {
        color: @blue-color;
        font-size: 25px;
        font-weight: 600;
        content: '\e081'
    }
}
