@big-image-url: '/Content/Assets/обезщетение-при-полет.jpg';
@border-blue-color: rgb(0, 159, 227);
@blue-color: #009fe3;
@blue-color-dark: #008fd3;
@dark-color: rgb(30, 32, 30);
@button-color: rgb(200, 200, 220);
@button-hover-color: rgb(240, 240, 240);

@media only screen and (max-width: 720px) {

    .logo-image {
        a img {
            height: 10vw;
        }
    }

    .menu-button {
        display: flex;
        align-items: center;

        button {
            width: 70px;
            padding: 12px 5px 12px 5px;
            //box-sizing: border-box;
            border: none;
            //border-radius: 3px;
            //outline: none;
            //border-color: #8d9db6;
            background-color: transparent;


            /*.icon::before {
                font-size: 30px;
                content: '\0236';
                color: #8d9db6;
            }*/
        }
    }


    .logo-menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;


        a {
            color: #444;
            font-family: 'Armata', sans-serif;
            font-size: 4vw;
            font-weight: 500;
            text-decoration: none;
        }

        > span {
            width: 100%;
            margin-top: 10px !important;
            background-color: white;
            height: 12vw;
            display: flex;
            margin: 0 0 0 0px;
            flex-flow: row;
            align-items: center;

            a {
                margin-left: 100px;
                display: flex;
                flex-flow: row;
                align-items: center;
            }
        }
    }

    .logo-menu {
        display: none;
    }

    .logo-flex-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .big-image {
        grid-template: "big-image";
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: auto 600px auto;
        grid-template-rows: repeat(7, 1fr);
        grid-row-gap: 10px;

        .header-text {
            margin-top: 30px;
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 3;
            color: #050505;
            display: flex;
            align-content: center;
            justify-content: center;
            text-transform: uppercase;

            span {
                font-size: 40px;
                font-weight: 800;
                margin: auto 30px auto auto;
            }
        }

        > div.image-plaine {
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 500px;
            max-width: 500px;
        }

        .header-subtext {
            grid-row-start: 4;
            grid-row-end: 7;
            grid-column-start: 2;
            grid-column-end: 3;

            p {
                font-size: 30px;
                color: #233;
                width: 700px;
                text-align: center;
            }
        }

        .header-button {
            margin-bottom: 30px;
            grid-row-start: 7;
            grid-row-end: 8;
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                margin: auto auto 30px auto;
            }
        }
    }

    .button-home {
        width: 380px;
        padding: 12px 5px 12px 5px;
        align-content: center;
        justify-content: center;
    }


    .span-1 {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .span-2 {
        grid-row: 3;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .span-3 {
        grid-row: 4;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .compensation-type {
        padding: 50px 0 150px 0;
        grid-template: "compensation-type";
        grid-template-columns: auto 600px auto;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 70px;
        display: grid;


        .header-text {
            height: 200px;
            grid-row: 1;
            grid-column-start: 2;
            grid-column-end: 3;
            font-size: 40px;

            span {
                display: flex;
            }
        }

        .span {
            display: flex;
            flex-flow: column;
            align-content: center;
            justify-content: center;


            > * {
                margin-top: 40px;
            }

            > span {
                font-size: 32px;
                font-weight: 500;
                color: lighten(@blue-color, -25%);
                text-transform: uppercase;
            }

            > p {
                font-size: 14px;
                font-weight: 500;
                color: grba(2,2,14,1);
            }

            .image {
                display: grid;
                grid-template-columns: auto 350px auto;
                grid-template-rows: 350px;

                div {
                    grid-row: 1;
                    grid-column: 2;
                    //border: solid 4px lighten(@blue-color, 30%);
                    box-shadow: 0 0 200px @blue-color;
                    border-radius: 100%;
                }

                &.image-delay > div {
                    background-image: url('/Content/Assets/закъснение-полет.png');
                    background-position-x: -170px;
                    background-size: 620px;
                }

                &.image-cancel > div {
                    background-image: url('/Content/Assets/излитащ-самолет.jpg');
                    background-position-x: -270px;
                    background-size: 630px;
                }

                &.image-denied-bording > div {
                    background-image: url('/Content/Assets/overbooking.jpg');
                    background-position-x: -50px;
                    background-size: 550px;
                }
            }
        }
    }


    .compensation-type > .span {
        padding: 30px 0;
        //transform: scale(1.3);
    }


    .compensation-amount {
        grid-template: "compensation-amount";
        grid-template-columns: auto 600px auto;
        grid-template-rows: 100px repeat(3, 450px) 50px;
        grid-row-gap: 50px;

        > div.background {
            grid-row-start: 1;
            grid-row-end: 6;
            grid-column-start: 1;
            grid-column-end: 4;
            background-size: cover;
            filter: opacity(20%);
            z-index: 1;
        }

        * > {
            z-index: 100
        }

        span {
            color: #222;
            text-align: center;
            margin: auto auto 10px auto;
        }

        .header-text {
            grid-row: 1;
            grid-column-start: 2;
            grid-column-end: 2;
        }

        .span {
            display: flex;
            flex-flow: column;
            align-content: center;
            justify-content: center;

            > * {
                margin-top: 8px;
            }

            > span.text-black {
                font-size: 28px;
                font-weight: 600;
            }

            > span.text-blue {
                font-size: 36px;
                font-weight: 700;
                color: @blue-color;
            }

            .image img {
                display: block;
                height: 320px;
                margin: auto;
            }
        }
    }


    .compensation-steps {
        grid-template: "compensation-steps";
        grid-template-columns: auto 600px auto;
        grid-template-rows: 100px repeat(400px, 3) 50px;
        grid-column-gap: 15px;
        display: grid;
        padding: 50px 0;

        span {
            text-align: center;
            margin: auto auto auto auto;
        }

        .header-text {
            grid-row: 1;
            grid-column-start: 2;
            grid-column-end: 3;
            padding: 10px 0 30px 0;
            font-size: 34px;
        }

        .span {
            //transform: scale(1.3);
            padding: 50px 0;

            > span.text-black {
                margin: 10px 0 0 0;
                font-size: 28px;
                font-weight: 600;
            }

            > p {
                margin: 10px auto;
                text-align: center;
                width: 350px;
                font-size: 20px;
            }

            .image img {
                display: block;
                height: 180px;
                margin: auto;
            }
        }
    }


    .links {
        grid-template: "links";
        display: grid;
        height: auto;
        grid-template-rows: 50px repeat(2, 230px) 100px;
        grid-template-columns: auto 600px auto;
        font-size: 18px;
        color: white;

        > .span-2 {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column: 2;
        }

        > .span-3 {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column: 2;
        }

        > .span-1 {
            display: none !important;
        }

        .span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > * {
                margin-bottom: 10px;
            }

            a, a:visited {
                text-decoration: underline;
                color: white;
            }


            .heder {
                font-size: 35px;
                text-transform: uppercase;
            }
        }
    }

    button.claim {
        display: block;
        padding: 12px 5px 12px 5px;
        box-sizing: border-box;
        border: 0px none;
        border-radius: 4px;
        margin: 0 auto;
        font-family: "PT Sans", sans-serif;
        color: rgb(20, 26, 48);
        font-size: 20px;
        font-weight: 500;
        outline: none;
        border-color: @blue-color;
        background-color: #667292;
        color: white;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 350px;
        background-color: @blue-color;

        &:hover {
            background-color: lighten(@blue-color, -20%);
        }

        i {
            margin-right: 10px;
        }
    }


    .button-home {
        width: 350px;
        padding: 12px 5px 12px 5px;
        box-sizing: border-box;
        border: 0px none;
        border-radius: 4px;
        margin: 0 auto;
        font-family: "PT Sans", sans-serif;
        color: rgb(20, 26, 48);
        font-size: 22px;
        font-weight: 500;
        outline: none;
        border-color: @blue-color;
        background-color: #667292;
        color: white;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .form-content {
        grid-area: content;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 50px 0;
        background-size: cover;
        //min-height: 70vh;
        span {
            font-family: "PT Sans", sans-serif;
            font-size: 28px;
        }

        .contact-form-main {

            padding: 0 10px 0 10px;
            input[type=text], textarea {
                width: 450px;
            }


            form > div {
                margin-top: 15px;
            }

            .button-div {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
            }
        }

        .login-form-main {

            input[type=text], input[type=password], textarea {
                width: 350px;
            }


            form {
                margin: auto auto auto auto;
                width: 380px;
                padding-left: 30px;
                //background-color: rgba( 0, 0, 0, 0.5);
                > div {
                    margin-top: 15px;
                }
            }

            .button-div {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
            }
        }
    }

    .register-form {
        grid-template: "Content";
        display: grid;
        grid-template-columns: 20px 400px 20px;
        grid-template-rows: 10px auto 20px;
        grid-template-areas: ". . ." ". center . " ". . .";
    }

    .progress {
        display: none;
    }

    .form-row {
        margin: 15px 0 0 0;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-content: space-around;
    }

    .form-box {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;

        > div {
            width: 400px;
        }

        &.left {
            label {
                margin: 15px 0 5px 0;
            }

            input[type=text], ul {
                margin-left: 0px;
            }
        }

        &.rigth {
            label {
                margin: 15px 0 5px 0;
            }

            input[type=text], ul {
                margin-left: 0px;
            }
        }
    }

    .center-content {
        //background-color: white;
        h2 {
            margin: 10px 0 0 0;
            font-family: "PT Sans", sans-serif;
            font-size: 32px;
            font-weight: 500;
            width: 350px;
        }

        p {
            text-align: left;
            font-family: "PT Sans", sans-serif;
            font-size: 16px;
            width: 350px;
        }
    }

    div.form-subtext {
        width: 400px !important;
    }

    .form-box-width {
        label {
            margin-left: 0;
        }

        width: 100%;
        display: flex;
        flex-flow: column;

        textarea {
            margin-left: 0px;
            width: 300px;
        }

        input[type=text] {
            width: 250px;
            margin-left: 0;
        }
    }

    .form-box-upload {
        > div {
            margin-left: 0;
            display: flex;
            flex-flow: column;

            label.file-upload {
                margin-top: 7px;
            }
        }

        > label {
            margin-left: 0;
        }

        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
    }

    .form-box-signiture {
        width: 400px;
        display: flex;
        flex-flow: column;

        > div {
            margin-left: 0;
        }


        canvas {
            //display:none;
            margin-right: 10px;
            //width: 400px;
            //height: 280px;
        }



        > label {
            margin-left: 0;
        }
    }

    div.width-550 {
        .form-box-45 {
            width: 550px;
        }

        form-box > div {
            width: 550px;
        }

        form-box-45 > div {
            width: 550px;
        }

        .form-box-45.rigth, .form-box-5 {
            margin-top: 9px;
        }

        width: 550px;


        input[type=text] {
            width: 500px;
            font-size: 18px;
        }

        textarea {
            width: 500px;
            font-size: 18px;
        }

        label {
            font-size: 18px;
        }

        .form-hedar {
            font-size: 34px;
        }

        button.submit, button.reset {
            font-size: 18px;
            width: 500px;
        }

        button.clear {
            font-size: 16px;
            width: 140px;
            height: 42px;
            margin: 15px 0;
        }

        button.clear {
            font-size: 15px;
        }

        .form-subtext {
            width: 500px !important;
        }

        .checkbox::before {
        }

        .form-row-yes-no {
            width: 500px;

            .checkbox {
                display: grid;
                grid-template-columns: 30px auto;

                &::before {
                    margin-top: 2px;
                }
            }
        }
    }

    .contact-main {
        .contact-heder {
            width: 400px;
        }

        .contact-data  {
            width: 400px;
        }
    }


    button.reset {
        margin-top: 30px;
    }
}
