<div class="data-content">
    <div class="info-page">

        <h1>Общи условия за ползване</h1>
        <p>
            Настоящите Общи условия уреждат условията, при които ХЕЛПКЛЕЙМС ООД предоставя информацията, софтуера и услугите си, посредством Интернет сайта @ViewBag.siteName
            (наричани по-долу "Услугите"). Услугите са допустими  само и единствено при приемане на настоящите Общи условия,както и правила и клаузи,
            описани в тях.
        </p>

        <h2>Определения</h2>

        <p>
            "Регламент (ЕО) 261/2004": Регламент (ЕО) 261/2004 на ЕО относно създаване на общи правила за обезщетяване и помощ на пътниците
            при отказан достъп на борда и отмяна или голямо закъснение на полети.
        </p>

        <p>"Авиокомпания": Превозвачът, извършващ въздушния превоз на пътници.</p>

        <p>ХЕЛПКЛЕЙМС ООД „притежава  регистрация - България ………………….</p>

        <p>    „Споразумение“:Споразумение между ХЕЛПКЛЕЙМС ООД и Клиента, относно  настоящите Общи условия. </p>

        <p> "Претенция": Това е предявен иск срещу Превозвача, за получаване на парично обезщетение от пътник, позовавайки се на Регламент (ЕО) 261/2004.</p>

        <p>
            "Клиент": Всяко физическо или юридическо лице, негов/неин представител/и/ и/или наследник/ци/, предявяващи претенцията чрез пълномощно и при приемане на Общите условия на ХЕЛПКЛЕЙМС ООД, да бъдат представлявани от ХЕЛПКЛЕЙМС ООД пред  авиокомпанията превозвач.
        </p>
        <p>
            "Пълномощно": Документ, с който клиентът предоставя права на ХЕЛПКЛЕЙМС ООД за извършване на необходимите правни действия от негово име.
        </p>
        <p>
            "Иск" e всяко извънсъдебно или съдебно искане за обезщетение на пътник, отправено срещу авиокомпанията превозвач позовавайки се на Регламент (ЕО) 261/2004.
        </p>
        <p>
            "Калкулатор на обезщетение" e автоматична система, чрез която всеки потребител  може да провери възможността за получаване на обезщетение, да изчисли  размера му на база въведените  данни.
        </p>

        <h2>Общи условия</h2>
        <p>
            Тези Общи условия се прилагат към всяко едно споразумение между ХЕЛПКЛЕЙМС ООД  и клиента.
        </p>
        <p>
            ХЕЛПКЛЕЙМС ООД  си запазва правото си да извършва промени по настоящите Общи условия.
        </p>
        <p>
            При изпълнението на споразумението и при условие, че ХЕЛПКЛЕЙМС ООД  използва  трета/и/ страна/и/,
            настоящите Общи условия се прилагат задължително и за тези трети страни.
        </p>

        <h2>Договор и процедури</h2>

        <p>
            ХЕЛПКЛЕЙМС ООД  извършва извънсъдебни и или съдебни действия, от името и в полза на клиента с цел постигане на успешно събиране
            и получаване на дължимото парично обезщетение
        <p>
            С попълването и подаването на информацията на сайта,приемайки общите условия, клиентът упълномощава ХЕЛПКЛЕЙМС ООД
            да предприеме от негово име действия по искане за обезщетение, срещу определен въздушен превозвач, във връзка със закъснение,
            отмяна на полет или отказан достъп на борда.
        </p>
        <p>
            След регистрацията на сайта на ХЕЛПКЛЕЙМС ООД автоматично се генерира пълномощно и договор, които трябва да бъдат подписани електронно или
            разпечатани и подписани без нотариална заверка от клиента. Чрез Пълномощното клиентът дава права на ХЕЛПКЛЕЙМС ООД  да го представлява и
            да извършва необходимите действия от негово име за събирането на обезщетението.
        </p>
        <p>
            Декларацията за поверителност е част от споразумението между клиента и ХЕЛПКЛЕЙМС ООД
        </p>
        <p>
            Договора е валиден само в случай, че бъде потвърден от ХЕЛПКЛЕЙМС ООД в писмена форма или чрез електронна поща
        </p>
        <p>
            Сключвайки договор с ХЕЛПКЛЕЙМС ООД  клиентът декларира, че няма да предявява претенция лично към съответния въздушен превозвач
            във връзка със закъснението и/ или отмяната на полет или отказан достъп на борда, нито да упълномощава трета/и страна за това,
            без предварителното писмено съгласие от страна на ХЕЛПКЛЕЙМС ООД
        </p>
        <p>
            Договора и предоставените документи се съхраняват в ХЕЛПКЛЕЙМС ООД  и само ХЕЛПКЛЕЙМС ООД  има достъп до тях
        </p>
        <p>
            ХЕЛПКЛЕЙМС ООД  има право да откаже да поеме случай, за който клиентът е отправил предложение за сключване на договор
        </p>

        <h2>Услуги</h2>
        <p>
            Обезщетението на клиента се събира чрез извънсъдебни действия или чрез предприети съдебни действия,
            чрез съдебен процес срещу авиокомпанията превозвач пред компетентния съд
        </p>
        <p>
            В съдебния процес ще бъде включен адвокат, с правомощия да осъществява дейност на територията на страната членка на ЕС,
            където е подсъден съдебният иск.
        </p>
        <p>
            Клиента ще бъде уведомен предварително по електронна поща за намеренията на ХЕЛПКЛЕЙМС ООД  за стартиране на съдебни действия.
            Ако той откаже да бъдат предприети такива действия, споразумението се прекратява, считано от момента на подадения писмен отказ.
        </p>
        <p>
            При започване на съдебна процедура, извършена от ХЕЛПКЛЕЙМС ООД , възникналите разходи в хода на процеса се покриват изцяло от ХЕЛПКЛЕЙМС ООД.
            Ако съдебното производство бъде спечелено, тези разходи ще бъдат възстановени на ХЕЛПКЛЕЙМС ООД,
            чрез приспадането им при извършено плащане от страна на авиокомпанията- длъжник.
        </p>
        <p>
            Ако клиентът получи обезщетението директно от авиокомпанията превозвач, по време или след извънсъдебните, или съдебните действия,
            започнати от ХЕЛПКЛЕЙМС ООД ,клиентът е длъжен да уведоми  ХЕЛПКЛЕЙМС ООД, да предостави доказателства за
            полученото  плащане и да изплати на ХЕЛПКЛЕЙМС ООД  в срок от 7\седем\ дни от получаване на обезщетението договореното и  дължимо възнаграждение,
            разноски и лихви
        </p>

        <h2>Възнаграждение</h2>
        <p>
            ХЕЛПКЛЕЙМС ООД получава възнаграждение само при успешно събрано обезщетение за клиента. За успешно събиране се считат и случаите,
            в които авиокомпанията е изплатила обезщетението директно на клиента, след като ХЕЛПКЛЕЙМС ООД е отправил искане по съдебен или
            извънсъдебен начин към нея.
        </p>
        <p>
            При случай на неуспех,клиентът не е задължен да заплаща услугите на ХЕЛПКЛЕЙМС ООД ,нито направените съдебни такси и разноски по делото.
        </p>
        <p>
            Размерът на възнаграждението е 25 % (двадесет и пет процента) от сумата на обезщетението
        </p>
        <p>
            В случай, че спорът бъде разрешен по съдебен ред и ако според решението на съда клиентът получи само част от претендираното обезщетение,
            ХЕЛПКЛЕЙМС ООД удържа възнаграждение в размер на 25%(двадесет и пет процента) само от съдебно присъдената сума.
        </p>
        <p>
            В случай, че Клиентът се съгласи на алтернативно непарично обезщетение той е длъжен да заплати на ХЕЛПКЛЕЙМС ООД
            дължимото възнаграждение в размер на 25%(двадесет и пет процента)  върху първоначалното обезщетение
        </p>
        <p>
            Веднага след получаване на сумата на обезщетението от авиокомпанията ХЕЛПКЛЕЙМС ООД приспада възнаграждението и в най-кратки срокове
            изплаща останалата част от обезщетението към клиента.Банковите и други такси по превода се поемат от клиента.
        </p>

        <h2>Права и задължения на клиента</h2>
        <p>
            Клиентът има възможност и право да отправя искане за обезщетение чрез сайта и предложение за сключване на договор и
            съдействие от страна на ХЕЛПКЛЕЙМС ООД.
        </p>
        <p>
            Клиентът има право да се информира за състоянието на своята претенция за обезщетение,
            чрез профила си на сайта или чрез предоставените контакти
        </p>
        <p>
            Клиентът има право да изисква и получава информация от ХЕЛПКЛЕЙМС ООД за състоянието на своята претенция,
            нейното движение и/или да получава копия на предоставените от него документи
        </p>
        <p>
            Клиентът се задължава да оказва съдействие за успешното провеждане на процедурата по събирането на обезщетението,
            като предоставя нужната информация, документи и доказателства ( бордна карта, резервация, документ за самоличност и др).
        </p>
        <p>
            Ако клиентът желае  паричното обезщетение да му бъде преведено по друг начин/не по банков път/,
            той следва да уведоми ХЕЛПКЛЕЙМС ООД по имейл.
        </p>
        <p>
            След приемането на настоящите общи условия и възлагане на ХЕЛПКЛЕЙМС ООД за събиране на обезщетението,
            клиентът се задължава да не се свързва с други фирми, агенти или адвокати, предоставящи подобни услуги.
        </p>
        <p>
            Всеки клиент,сключил договор с ХЕЛПКЛЕЙМС ООД има право да се откаже от него в рамките на 14 дни след сключването му.
            Прекратяването му се извършва в писмена форма или чрез имейл до ХЕЛПКЛЕЙМС ООД
        </p>
        <p>
            Клиентът не може да се откаже от сключения договор след уважена претенция от авиокомпанията-длъжник,
            и ХЕЛПКЛЕЙМС ООД е довел процедурата до успешен край
        </p>

        <h2>Права и задължения на ХЕЛПКЛЕЙМС ООД</h2>
        <p>
            ХЕЛПКЛЕЙМС ООД има право да откаже да поеме иск и да предостави услугите си на клиент, отправил предложение за възлагане.
        </p>
        <p>
            Общите условия могат да бъдат променяни по всяко време от ХЕЛПКЛЕЙМС ООД.
        </p>
        <p>
            ХЕЛПКЛЕЙМС ООД се задължава да уведоми клиента за промените в общите условия.
        </p>
        <p>
            ХЕЛПКЛЕЙМС ООД си запазва правото по всяко време да прекратява или ограничава достъпа до сайта и  услуги си поради технически или други причини
        </p>

        <h2>Неустойки</h2>
        <p>
            Ако длъжникът плати финансова компенсация директно на клиента и клиента не изплати на ХЕЛПКЛЕЙМС ООД дължимото възнаграждение
            в срок от 7\седем\ дни от получаването му,клиента дължи на ХЕЛПКЛЕЙМС ООД възнаграждението от 25 % (двадесет и пет процента)
            ведно с 5% от размера на обещетението.
        </p>

        <h2>Приложимо законодателство</h2>
        <p>
            Общите условия са изготвени съгласно българското законодателство и ще бъдат регулирани от компетентния български съд.
        </p>

    </div>
</div>



