@*<script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Service",
    "url": "https://helpclaims.eu/контакти",
    "name": "HELPCLAIMS",
    "description": "Форма за контакти с HELPCLAIMS"
    }
</script>*@

<div class="form-content">
    <div class="contact-form-main">
        <form method="post">
            <div class="header-text">
                <span>Форма за контакти </span>
            </div>
            <div>
                @*<div>
                    <label>Email<span class="requared">*</span></label>
                </div>*@
                <input type="text" name="Email" placeholder="Емейл" validate /><i class="icon"></i>
            </div>

            <div>
                @*<div>
                    <label>Име<span></span></label>
                </div>*@
                <input type="text" name="Name" placeholder="Име" validate /><i class="icon"></i>
            </div>

            <div>
                @*<div>
                    <label>Свободен текс<span class="requared">*</span></label>
                </div>*@
                <textarea rows="6" cols="80" placeholder="Вашето запитване" name="AdditionalInfo" placeholder=""></textarea>
            </div>
            <div class="button-div">
                <div>
                    <button class="submit-smal" type="submit" keypress="alert(1); return false" onclick="return validateContact()">Изпрати</button>
                </div>
                <div>
                    <button class="reset-smal" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/form.js"></script>