@model AirHelp.DAL.Claim

<div class="register-form">
    <div class="progress">
        <div class="past">
            <div class="circle"><label>1</label></div>
            <label class="text">Данни за полета</label>
        </div>
        <div class="past">
            <div class="circle"><label>2</label></div>
            <label class="text">Описание на проблема</label>
        </div>
        <div class="current">
            <div class="circle"><label>3</label></div>
            <label class="text">Регистрация</label>
        </div>
        <div class="empty">
            <div class="circle"><label>4</label></div>
            <label class="text">Подаване на иск</label>
        </div>

    </div>
    <div class="center-content">
        <form method="post" enctype="multipart/form-data" action="/регистриране-на-потребител">
            <input type="hidden" name="claimId" value="@Model.ClaimId" />
            
            <div class="form-hedar uppercase" first>
                Имате право на обезщетение от <span class="euro">€@Model.CompensationAmount</span> на пътник
            </div>

            <div class="form-subheder">
                Данни за контакт
            </div>
            <div class="form-subtext">
                Въведената от вас лична информация ще се използва само във връска за получаване на обезщетения от авиокомпнии по регламент 261/2004 на EU.
                Ако вече сте регистриран потребител може влезте <a href="/вход/@Model.ClaimId"> тук </a>
            </div>
            <div class="form-row">
                <div class="form-box left">
                    <label>Име<span class="requared">*</span></label>
                    <div>
                        <input type="text" inputmode="latin" name="FirstName" placeholder="Име" validate /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box rigth">
                    <label>Фамиля<span class="requared">*</span></label>
                    <div>
                        <input type="text" name="LastName" placeholder="Фамилия" validate /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box left">
                    <label>Град<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="City" name="City" placeholder="Град" validate /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box rigth success">
                    <label>Държава<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="Country" name="Country" placeholder="България" value="България" validate /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box-width">
                    <label>Адрес<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="Adress" name="Adress" placeholder="Адрес" validate /><i class="icon"></i>
                    </div>
                </div>

            </div>
            <div class="form-subtext">
                Емайлат Ви ще се използва само за връзка с вас по отношение на иска ви за обезщетение
            </div>
            <div class="form-row ">
                <div class="form-box left">
                    <label>Емаил<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="Email" name="Email" placeholder="Емаил" validate /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box rigth">
                    <label>Телефон (опционално)</label>
                    <div>
                        <input type="text" id="Tel" name="Tel" placeholder="Телефон" /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-subtext">
                Паролата Ви се съхранява в криптиран вид и не достъпна за никой
            </div>
            <div class="form-row ">
                <div class="form-box left">
                    <label>Парола<span class="requared">*</span></label>
                    <div>
                        <input type="password" id="Password" name="Password" placeholder="Парола" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error">Паролата трябва да е най-малко 8 символа</label>
                </div>
                <div class="form-box rigth">
                    <label>Повтори паролата</label>
                    <div>
                        <input type="password" id="Confirm-password" name="Confirm-password" validate placeholder="Повтори паролата" /><i class="icon"></i>
                    </div>
                    <label class="sub-error">Паролите не съвпадат</label>
                </div>
            </div>


            <div class="form-row" style="margin-top: 50px" post>
                <div class="form-box">
                    <button class="submit" type="submit" keypress="return false" onclick="return validateUserForm()">Напред</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>

</div>


<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/RegisterUser.js"></script>