<div class="compensation-type spliter-claim">
    <div class="spliter-header">
        <span> Иск за обезщетение при полет </span>
    </div>
    <div class="span span-1">
        <a href="/калкулиране-на-обезщетение">
            <div class="image image-delay">
                <div></div>
            </div>
            <button class="claim big">  <i class="icon delay"></i> полета ни закъсня </button>
        </a>

    </div>
    <div class="span span-2">
        <a href="/обезщетение-при-полет/отменен-полет">
            <div class="image image-cancel">
                <div></div>
            </div>
            <button class="claim big"> <i class="icon cancel"></i> полета ми беше отменен </button>
        </a>

    </div>
    <div class="span span-3">
        <a href="/обезщетение-при-полет/отказан-досъп-до-борд">
            <div class="image image-denied-bording">
                <div></div>
            </div>
            <button class="claim big"> <i class="icon overbook"></i> не бях допуснат до борда </button>
        </a>
    </div>

</div>
