@model AirHelp.Models.VMDirectFlight

<div class="register-form">
    <div class="progress">
        <div class="current">
            <div class="circle"><label>1</label></div>
            <label class="text">Данни за полета</label>
        </div>
        <div class="empty">
            <div class="circle"><label>2</label></div>
            <label class="text">Описание на проблема</label>
        </div>
        <div class="empty">
            <div class="circle"><label>3</label></div>
            <label class="text">Регистрация</label>
        </div>
        <div class="empty">
            <div class="circle"><label>4</label></div>
            <label class="text">Подаване на иск</label>
        </div>

    </div>
    <div class="center-content">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="jsonAirport" value="" />
            <input type="hidden" name="jsonAirComapany" value="" />
            <input type="hidden" name="SignitureImage" value="" />

            <div class="form-hedar" first>
                Информаця за полета
            </div>

            <div class="form-row" first>

                <div class="form-box left">
                    <label>Начално летище<span class="requared">*</span></label>
                    <div>
                        <input type="text" validate name="DepartureAirport" autocomplete="off" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Начално летище" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin"></ul>
                    </div>
                </div>
                <div class="form-box rigth">
                    <label>Крайно летище<span class="requared">*</span></label>
                    <div>
                        <input type="text" validate name="DestinationAirports" autocomplete="off" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Крайно летище" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin"></ul>
                    </div>
                </div>
            </div>
            <div class="form-row" id="AirCompany" first>
                <div class="form-box">
                    <label>Въдушен превозвач<span class="requared">*</span></label>
                    <div>
                        <input type="text" name="AirCompany" autocomplete="off" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" validate placeholder="Въдушен превозвач" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin"></ul>
                    </div>
                </div>
                <div class="form-box">

                </div>
            </div>
            <div class="form-subheder" first>
                Имахте ли прекачвания по пътя?
            </div>
            <div class="form-row-rodio" style="justify-content:flex-start" first>

                <label class="radio">
                    <input type="radio" id="rYes" name="HasConnection">
                    <span>Да</span>
                </label>
                <label class="radio">
                    <input type="radio" id="rNo" name="HasConnection">
                    <span>Не</span>
                </label>
            </div>
            <div class="form-row" id="connectionAirPorts" style="flex-flow: column; display:none;" first>
                <div class="form-subtext" style="margin: 7px 0 7px 0;">
                    Моля посочете всички междинни летища, които са част от същата резервация
                </div>
                <div class="form-box-connection">
                    <div>
                        <input type="text" validate name="ConnectionAirports" autocomplete="off" onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" dropdown placeholder="Летище" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin"></ul>
                    </div>
                </div>
                <div class="form-box">
                    <button class="bAdd" onclick="addCbAiports(this); return false;"><i class="icon"></i></button>
                </div>
            </div>

            <div class="form-row" progress>
                <div class="form-box">
                    <button class="submit" type="button" keypress="return false" onclick="return progress(this)">Напред</button>
                </div>
                <div class="form-box">

                </div>
            </div>

            <div class="form-hedar" style="display:none" choise-flight>
                При кой полет имахте проблем
            </div>
            <div class="form-row-radio" style="display:none" choise-flight>

            </div>

            <div class="form-hedar" style="display:none" number>
                Моля допълнете цифровата часа в номерата на полетите
            </div>

            <div class="form-row" style="display:none" number>
                <div class="form-box left">
                    <label>Номер на полета<span class="requared">*</span></label>
                    <div>
                        <input type="text" name="FlightNumber" id="FlightNumber" onkeyup="fixNumber(this)" value="@Model.number" placeholder="Номер на полет" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error">@Model.numberError</label>
                </div>
                <div class="form-box rigth">
                    <label>Дата на полета<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="Date" name="Date" value="@Model.date" placeholder="Дата на полета" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error"></label>
                </div>
            </div>

            <div class="form-hedar" style="display:none" multinumber-row>
                Моля допълнете цифровата часа в номерата на полетите
            </div>
            <div multinumber style="display:none">

            </div>

            <div class="form-row" style="display:none;" post>
                <div class="form-box">
                    <button class="submit" type="submit" keypress="return false" onclick="return validateFlights()">Напред</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>

</div>

<div id="template" style="display:none;">
    <div class="form-box-connection">
        <div>
            <input type="text" validate name="ConnectionAirports" autocomplete="off" onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" dropdown placeholder="Летище" />
            <i class="icon"></i>
            <ul class="lSuggestoin"></ul>
        </div>
        <button class="bDelete" onmousedown="$(this).parent().remove(); return false;"><i class="icon"></i></button>
    </div>
</div>

<div id="template1" style="display:none;">
    <label class="radio">
        <input type="radio" onclick="flightChange(this)" value="{1}" name="Flight">
        <span>{2}</span>
    </label>
</div>

<div id="template2" style="display:none;">
    <div class="form-subheder">
        {2}
    </div>
    <div class="form-row" id="{1}">
        <div class="form-box left">
            <label>Номер на полета<span class="requared">*</span></label>
            <div>
                <input type="text" validate name="FlightNumbers" onkeyup="fixNumber(this)" id="FlightNumber" data="{3}" value="{3}" placeholder="Номер на полет" validate /><i class="icon"></i>
            </div>
            <label class="sub-error">Невалиден номер</label>
        </div>
        <div class="form-box rigth">
            <label>Дата на полета<span class="requared">*</span></label>
            <div>
                <input type="text" validate id="{1}d" name="Dates" value="" placeholder="Дата на полета" validate /><i class="icon"></i>
            </div>
            <label class="sub-error">Невалидна дата</label>
        </div>
    </div>
</div>


<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/flyght-form.js"></script>