@model AirHelp.Models.VMDirectFlight

<div class="register-form">
    <div class="progress">
        <div class="past">
            <div class="circle"><label>1</label></div>
            <label class="text">Калкулиране на обезщетение</label> 
        </div>
        <div class="current">
            <div class="circle"><label>2</label></div>
            <label class="text">Регистрация</label>
        </div>
        <div class="empty">
            <div class="circle"><label>3</label></div>
            <label class="text">Подаване на иск</label>
        </div>
        
    </div>
    <div class="center-content">
        <form method="post" enctype="multipart/form-data">
            
            <input type="hidden" name="jsonAirport" value="" />
            

            <div class="form-hedar">
                Информаця за полета
            </div>
            <div class="form-row">
                <div class="form-box left">
                    <label>Номер на полета<span class="requared">*</span></label>
                    <div>
                        <input type="text" name="FlightNumber" id="FlightNumber" value="@Model.number" placeholder="Номер на полет" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error">@Model.numberError</label>
                </div>
                <div class="form-box rigth">
                    <label>Дата на полета<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="Date" name="Date" value="@Model.date" placeholder="Дата на полета" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error"></label>
                </div>
            </div>

            <div class="form-subtext">
                @if (Model.commonError != "")
                {
                    <label class="error-row">
                        @Model.commonError
                    </label>
                }
            </div>

            <div class="form-row">
                <div class="form-box">
                    <button class="submit" type="submit" keypress="return false" onclick="return validateCommon()">Напред</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>

</div>

<script src="~/Scripts/main.js"></script>