@model List<AirHelp.DAL.Claim>

<div class="register-form">
    <div class="progress">
        @if (User.IsInRole("admin"))
        {

            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/обезщетение-списък"> Искове </a>

            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/потребители"> Потребители </a>

            </div>
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text"> Смяна на парола </label>
            </div>


        }
        else
        {
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/обезщетение-списък"> Искове </a>
            </div>
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text"> Смяна на парола </label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/потребител-редакция"> Редакция на дании </a>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/GDPR"> Лични данни </a>
            </div>

        }
    </div>

    <div class="center-content">
        <form method="post" enctype="multipart/form-data">

            <div class="form-hedar">
                Смяна на парола
            </div>


            <div class="form-row ">
                <div class='form-box left @(ViewBag.error ? " error" : "")'>
                    <label>Стара парола<span class="requared">*</span></label>
                    <div>
                        <input type="password" id="oldPassword" autocomplete="off" value="" name="oldPassword" placeholder="Стара парола" validate /><i class="icon"></i>
                    </div>
                    @if (ViewBag.error)
                    {
                        <label class="sub-error" style="display: block">грешна парола</label>
                    }
                    else
                    {
                        <label class="sub-error">въведете стара парола</label>
                    }
                </div>
                <div class="form-box rigth">

                </div>
            </div>

            <div class="form-row ">
                <div class="form-box left">
                    <label>Нова парола<span class="requared">*</span></label>
                    <div>
                        <input type="password" id="Password" value="" autocomplete="off" name="Password" placeholder="Нова парола" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error">паролата е твърде кратка</label>
                </div>
                <div class="form-box rigth">

                </div>
            </div>

            <div class="form-row ">
                <div class='form-box left '>
                    <label>Повтори паролата</label>
                    <div>
                        <input type="password" autocomplete="off" id="Confirm-password" name="Confirm-password" validate placeholder="Повтори паролата" /><i class="icon"></i>
                    </div>
                    <label class="sub-error">Паролите не съвпадат</label>

                </div>
                <div class="form-box rigth">

                </div>
            </div>

            <div class="form-row" style="margin-top: 50px" post>
                <div class="form-box">
                    <button class="submit" type="submit" keypress="return false" onclick="return validateUserForm()">Напред</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>


</div>

<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/ChangePassword.js"></script>