@model List<AirHelp.DAL.Claim>

<div class="register-form">
    <div class="progress">
       
       
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text">Забравена парола</label>
            </div>
           

      
    </div>

    <div class="center-content">
        <form method="post" enctype="multipart/form-data">

            <div class="form-hedar">
                Задаване на нова парола
            </div>

            <div class="form-row ">
                <div class="form-box left">
                    <label>Нова парола<span class="requared">*</span></label>
                    <div>
                        <input type="password" id="Password" value="" autocomplete="off" name="Password" placeholder="Нова парола" validate /><i class="icon"></i>
                    </div>
                    <label class="sub-error">паролата е твърде кратка</label>
                </div>
                <div class="form-box rigth">

                </div>
            </div>

            <div class="form-row ">
                <div class='form-box left '>
                    <label>Повтори паролата</label>
                    <div>
                        <input type="password" autocomplete="off" id="Confirm-password" name="Confirm-password" validate placeholder="Повтори паролата" /><i class="icon"></i>
                    </div>
                    <label class="sub-error">Паролите не съвпадат</label>

                </div>
                <div class="form-box rigth">

                </div>
            </div>

            <div class="form-row" style="margin-top: 50px" post>
                <div class="form-box">
                    <button class="submit" type="submit" keypress="return false" onclick="return validatePassword()">Напред</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>


</div>

<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/ChangePassword.js"></script>