@model List<AirHelp.DAL.Claim>

<div class="register-form">
    <div class="progress">


       



    </div>

    <div class="center-content">
        <form method="post" enctype="multipart/form-data">

            <div class="form-hedar">
                Забравена парола
            </div>
           
            <div class="form-subtext">
                Моля въведете емейл, ще Ви бъде изпратен линк за избор на нова парола.
            </div>


            <div class="form-row ">
                <div class='form-box left @(ViewBag.error != null ? "error" : "")'>
                    <label>Имейл<span class="requared">*</span></label>
                    <div>
                        <input type="text" id="Email" value="" autocomplete="off" name="Email" placeholder="Въведи имейл" validate /><i class="icon"></i>
                    </div>
                    @if (ViewBag.error != null)
                    {
                        <label class="sub-error" style="display:block">@ViewBag.error</label>
                    }
                    else
                    {
                        <label class="sub-error">невалиден имейл</label>
                    }
                </div>
                <div class="form-box rigth">

                </div>
            </div>


            <div class="form-row" style="margin-top: 50px" post>
                <div class="form-box">
                    <button class="submit" type="submit" keypress="return false" onclick="return validateEmailForm()">Изпрати</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearForm()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>


</div>

<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/ChangePassword.js"></script>