<div class="big-image">
    <div class="header-text">
        <span>Имате проблеми с полета? </span>
    </div>
    <div class="header-subtext">
        <p>При закъснял или отменен полет, както и отказан достъп до борда в последните 3 години, имате право да получите обезщетение в размер до 600 €.</p>
    </div>

</div>