<div class="big-image">
    <div class="header-text">
        <span>Имате проблеми с полета? </span>
    </div>
    <div class="header-subtext">
        <p>При закъснял или отменен полет, както и отказан достъп до борда в последните 3 години, имате право да получите обезщетение в размер до 600 €.</p>
    </div>
    <div class="header-button">
        <a href="/обезщетение-при-полет"> <button class="button-home"> иск за обезщетение </button> </a>
    </div>

</div>
<div class="compensation-type">
    <div class="header-text">
        <span>Имате право на обезщетениe в случай на </span>
    </div>
    <div class="span span-1">
        <span> Закъснял полет </span>
        <div class="image image-delay">
            <div></div>
        </div>
        <p>Lorem ipsom dolor sit amet conterpaturus</p>
        <a href="/обезщетение-при-полет/закъснял-полет"> <button class="button-smal"> подай иск </button> </a>
    </div>
    <div class="span span-2">
        <span> Отменен полет </span>
        <div class="image image-cancel">
            <div></div>
        </div>
        <p>Lorem ipsom dolor sit amet conterpaturus</p>
        <a href="/обезщетение-при-полет/отменен-полет"> <button class="button-smal"> подай иск </button> </a>
        
    </div>
    <div class="span span-3">
        <span>Отказан достъп до борда </span>
        <div class="image image-denied-bording">
            <div></div>
        </div>
        <p>Lorem ipsom dolor sit amet conterpaturus</p>
        <a href="/обезщетение-при-полет/отказан-досъп-до-борда"> <button class="button-smal"> подай иск </button> </a>
    </div>

</div>
<div>

    *****

</div>