<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">
        <div class="form-row">
            <div class="form-box">
                <label>Име</label>
                <input type="text" id="iFirstName" placeholder="Име" />

            </div>
            <div class="form-box">
                <div>
                    <label>
                        Фамиля
                    </label>
                </div>
                <div>
                    <input type="text" id="iLastName" placeholder="Име" />
                </div>
            </div>
        </div>
    </div>
    <div class="rigth-content">

    </div>
</div>