<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">
        <div class="form-hedar">
            Разкажете ни за пътуването си
        </div>
        <div class="form-row">
            <div class="form-box error">
                <label>Име</label>
                <div>
                    <input type="text" id="iFirstName" placeholder="Име" /><i class="icon"></i>
                </div>
            </div>
            <div class="form-box">
                <label>Фамиля</label>
                <div>
                    <input type="text" id="iLastName" placeholder="Фамилия" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-box">
                <label>Начално летище</label>
                <div>
                    <input type="text" id="cbDepartureAirports" dropdown  placeholder="Начално летище" /><i class="icon"></i>
                    <ul class="lSuggestoin">
                        <li>Lorem</li>
                        <li>Ipsum</li>
                        <li>Dolor</li>
                    </ul>
                </div>
            </div>
            <div class="form-box">
                <label>Крайно летище</label>
                <div>
                    <input type="text" id="cbDepartureAirports" placeholder="Крайно летище" />
                </div>
            </div>
        </div>
        <div class="form-subheder">
            Имахте ли прекачвания по пътя?
        </div>
        <div class="form-subtext">
            Моля, посочете летища на прекачване, които са част от същото пътуване и резервация. Това ще ни помогне да изчислим размера на обезщетението Ви по-точно.
        </div>
        <div class="form-row" style="justify-content:flex-start">
           
                <label class="radio">
                    <input type="radio" id="rYes" name="hasConnection">
                    <span>Yes</span>
                </label>
                <label class="radio">
                    <input type="radio" id="rNo" name="hasConnection">
                    <span>No</span>
                </label>
         </div>
        <div class="form-row" style="display:none; justify-content:flex-start">
                        
        </div>
    </div>
    
    <div class="rigth-content">

    </div>
</div>