<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">
        <form>
            <div class="form-hedar">
                Данни за контакт
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label>Име</label>
                    <div>
                        <input type="text" id="iFirstName" placeholder="Име" /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box ">
                    <label>Фамиля</label>
                    <div>
                        <input type="text" id="iLastName" placeholder="Фамилия" /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label>Емаил</label>
                    <div>
                        <input type="text" id="iEmail" placeholder="Емаил" /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box ">
                    <label>Телефон</label>
                    <div>
                        <input type="text" id="iTel" placeholder="Телефон" /><i class="icon"></i>
                    </div>
                </div>
            </div>

            <div class="form-hedar">
                Информаця за полета
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label>Номер на полета</label>
                    <div>
                        <input type="text" id="iFlithNumber" placeholder="Номер на полет" /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box ">
                    <label>Дата на полета</label>
                    <div>
                        <input type="text" id="iDate" placeholder="Дата на полета" /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="form-box">
                    <label>Начално летище</label>
                    <div>
                        <input type="text" id="cbDepartureAirports" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Начално летище" /><i class="icon"></i>
                        <i class="icon"></i>
                        <ul class="lSuggestoin">
                            <li index='1' onclick="menuItemClick(this)">Lorem</li>
                            <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                            <li index='3' onclick="menuItemClick(this)">Dolor</li>
                            <li index='4' onclick="menuItemClick(this)">Sit</li>
                            <li index='5' onclick="menuItemClick(this)" last>Amed</li>
                        </ul>
                    </div>
                </div>
                <div class="form-box">
                    <label>Крайно летище</label>
                    <div>
                        <input type="text" id="cbDestinationAirports" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Крайно летище" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin">
                            <li index='1' onclick="menuItemClick(this)">Lorem</li>
                            <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                            <li index='3' onclick="menuItemClick(this)">Dolor</li>
                            <li index='4' onclick="menuItemClick(this)">Sit</li>
                            <li index='5' onclick="menuItemClick(this)" last>Amed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-subheder">
                Имахте ли прекачвания по пътя?
            </div>
            <div class="form-subtext">
                Моля, посочете летища на прекачване, които са част от същото пътуване и резервация. Това ще ни помогне да изчислим размера на обезщетението Ви по-точно.
            </div>
            <div class="form-row-rodio" style="justify-content:flex-start">

                <label class="radio">
                    <input type="radio" onclick="radioChange(this)" id="rYes" name="hasConnection">
                    <span>Да</span>
                </label>
                <label class="radio">
                    <input type="radio" onclick="radioChange(this)" id="rNo" name="hasConnection">
                    <span>Не</span>
                </label>
            </div>
            <div class="form-row" id="connectionAirPorts" style="flex-flow: column; display:none;">
                <div class="form-box-connection">
                    <div>
                        <input type="text" id="cbConnectionAirports" onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" dropdown placeholder="Летище" /><i class="icon"></i>
                        <i class="icon"></i>
                        <ul class="lSuggestoin">
                            <li index='1' onclick="menuItemClick(this)">Lorem</li>
                            <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                            <li index='3' onclick="menuItemClick(this)">Dolor</li>
                            <li index='4' onclick="menuItemClick(this)">Sit</li>
                            <li index='5' last onclick="menuItemClick(this)">Amed</li>
                        </ul>
                    </div>
                    <button class="bDelete" onclick="$(this).parent().remove(); return false;"><i class="icon"></i></button>
                </div>
                <div class="form-box">
                    <button class="bAdd" onclick="addCbAiports(this); return false;"><i class="icon"></i></button>
                </div>
            </div>
            <!-- delay -->
            <div class="form-hedar">
                Причина за закъснението 1-2
            </div>
            <div class="form-row-choise" style="justify-content:flex-start">

                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>Технически проблем</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>Повлиян от други полети</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>Стачка</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>Лошо време</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>По вина на летището</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>По вина на летището</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="reason">
                    <span>Не беше дадена причина</span>
                </label>
            </div>
            <div class="form-hedar">
                Полетат Ви закъсня ли с повече от три часа? - 1
            </div>
            <div class="form-row-yes-no">

                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="delay">
                    <span>Да</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="delay">
                    <span>Не</span>
                </label>
            </div>


            <div class="form-hedar">
                Колко голямо беше закъснението до крайната дистанция ? - 2
            </div>
            <div class="form-row-choise" style="grid-template-columns: 1fr 1fr 1fr 1fr 2fr;">

                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="howMuch">
                    <span>0-2 часа</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="howMuch">
                    <span>2-3 часа</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="howMuch">
                    <span>3-4 часа</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="howMuch">
                    <span>над 4 часа</span>
                </label>
            </div>
            <div class="form-hedar">
                Кога бяхте уведомени от превозвача за отмяната на полета ? - 2
            </div>
            <div class="form-row-choise" style="justify-content:flex-start">

                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="annonsment">
                    <span>Повече от 14 дни преди полета</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="annonsment">
                    <span>По-малко от 14 дни преди полета</span>
                </label>
            </div>


            <div class="form-hedar">
                Пристигнахте ли на чек-ин-а поне 30 минути преди излитането на самолета?
            </div>
            <div class="form-row-yes-no" style="justify-content:flex-start">
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="arival">
                    <span>Да</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="arival">
                    <span>Не</span>
                </label>
            </div>

            <div class="form-hedar">
                Достъпът беше ли ви отказан заради проблеми с документите или от съображения за сигурност ?
            </div>
            <div class="form-row-yes-no" style="justify-content:flex-start">
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="documentSecurity">
                    <span>Да</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="documentSecurity">
                    <span>Не</span>
                </label>
            </div>

            <div class="form-hedar">
                Доброволно ли преотстъпихте мястото си на борда на самолета ?
            </div>
            <div class="form-row-yes-no" style="justify-content:flex-start">
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="willness">
                    <span>Да</span>
                </label>
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="willness">
                    <span>Не</span>
                </label>
            </div>


            <div class="form-row" id="AirCompany" style="flex-flow: column;">
                <div class="form-box-width">
                    <label>Въздушен превозвач</label>
                    <div>
                        <input type="text" id="cbAirCompany" dropdown onkeyup="ddKeyUp(this, event)" style="width: 100%" onblur="cbBlur(this)" placeholder="Въдушен превозвач" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin" style="width: 100%">
                            <li index='1' onclick="menuItemClick(this)">Bulgaria Air</li>
                            <li index='2' onclick="menuItemClick(this)">Ryanair</li>
                            <li index='3' onclick="menuItemClick(this)">Blue Air</li>
                            <li index='4' onclick="menuItemClick(this)">EasyJet</li>
                            <li index='5' onclick="menuItemClick(this)">Germanwings</li>
                            <li index='6' onclick="menuItemClick(this)">Pegasus Airlines</li>
                            <li index='7' onclick="menuItemClick(this)">British Airways</li>
                            <li index='8' onclick="menuItemClick(this)">Air France</li>
                            <li index='9' onclick="menuItemClick(this)">Swiss Airlines</li>
                            <li index='10' onclick="menuItemClick(this)">Hamburg International</li>
                            <li index='11' onclick="menuItemClick(this)" last>Wizz Air</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-row" id="AirCompany" style="flex-flow: column;">
                <div class="form-box-width">
                    <label>Допълнителна информация</label>
                    <div>
                        <textarea rows="6" cols="80" id="iAdditionalInfo" style="width: 100%" placeholder="">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="form-hedar">
                Копия на необходими документи
            </div>
            <div class="form-row">
                <div class="form-box upload-box">
                    <div>
                        <button class="upload" onclick="uploadClick(this); return false;">Бордова карта</button><i class="icon"></i>
                        <input type="file" accept="image/*" id="uBordCard" style="display:none" onchange="uploadChange(this)" />
                        <label class="file-upload"> -- </label>
                    </div>
                    <div>
                        <button class="upload" onclick="uploadClick(this); return false;">Потвърждение за резервация</button><i class="icon"></i>
                        <input type="file" accept="image/*" id="uReservation" style="display:none" onchange="uploadChange(this)" />
                        <label class="file-upload"> -- </label>
                    </div>
                    <div>
                        <button class="upload" onclick="uploadClick(this); return false;">Документ за извършено плащане</button><i class="icon"></i>
                        <input type="file" accept="image/*" id="uPayDocument" style="display:none" onchange="uploadChange(this)" />
                        <label class="file-upload"> -- </label>
                    </div>
                </div>
                <div class="form-box ">
                    <div>
                        <canvas id="signiture" width="300" height="200" style="border: solid 1px #aaa"></canvas>
                        <img id="signiture-img" style="display:none;">
                    </div>
                    <div>
                        <button class="clear" onclick="uploadClick(this); return false;"><span>Изчисти</span></button>
                    </div>
                </div>
            </div>
            <div class="form-row-yes-no" style="grid-template-columns: auto">
                <label class="checkbox">
                    <input type="radio" onclick="radioChange(this)" name="confirm">
                    <span>Потвърждавам, че давам съгласието си AirHelp да обработи претенцията от мое име</span>
                </label>
            </div>
            <div class="form-row">
                <div class="form-box">
                    <button class="submit" type="submit" onclick=""><i class="icon"></i><span>Изпрати</span></button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" onclick=""><i class="icon"></i><span>Изчисти</span></button>
                </div>
            </div>
        </form>
    </div>

    <div class="rigth-content">

    </div>
</div>

<script id="sCbTemplate" type="html/template">
    <div class="form-box-connection">
        <div>
            <input type="text" id="cbConnectionAirports" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Летище" /><i class="icon"></i>
            <ul class="lSuggestoin">
                <li index='1' onclick="menuItemClick(this)">Lorem</li>
                <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                <li index='3' onclick="menuItemClick(this)">Dolor</li>
                <li index='4' onclick="menuItemClick(this)">Sit</li>
                <li index='5' onclick="menuItemClick(this)" last>Amed</li>
            </ul>
        </div>
        <button class="bDelete" onclick="$(this).parent().remove()"><i class="icon"></i></button>
    </div>
</script>
