<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">
        <form>
            <div class="form-hedar">
                Данни за контакт
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label>Име</label>
                    <div>
                        <input type="text" id="iFirstName" placeholder="Име" /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box ">
                    <label>Фамиля</label>
                    <div>
                        <input type="text" id="iLastName" placeholder="Фамилия" /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label>Емаил</label>
                    <div>
                        <input type="text" id="iEmail" placeholder="Емаил" /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box ">
                    <label>Телефон</label>
                    <div>
                        <input type="text" id="iTel" placeholder="Телефон" /><i class="icon"></i>
                    </div>
                </div>
            </div>

            <div class="form-hedar">
                Информаця за полета
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label>Номер на полета</label>
                    <div>
                        <input type="text" id="iFlithNumber" placeholder="Номер на полет" /><i class="icon"></i>
                    </div>
                </div>
                <div class="form-box ">
                    <label>Дата на полета</label>
                    <div>
                        <input type="text" id="iDate" placeholder="Дата на полета" /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="form-box">
                    <label>Начално летище</label>
                    <div>
                        <input type="text" id="cbDepartureAirports" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Начално летище" /><i class="icon"></i>
                        <i class="icon"></i>
                        <ul class="lSuggestoin">
                            <li index='1' onclick="menuItemClick(this)">Lorem</li>
                            <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                            <li index='3' onclick="menuItemClick(this)">Dolor</li>
                            <li index='4' onclick="menuItemClick(this)">Sit</li>
                            <li index='5' onclick="menuItemClick(this)" last>Amed</li>
                        </ul>
                    </div>
                </div>
                <div class="form-box">
                    <label>Крайно летище</label>
                    <div>
                        <input type="text" id="cbDestinationAirports" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Крайно летище" />
                        <i class="icon"></i>
                        <ul class="lSuggestoin">
                            <li index='1' onclick="menuItemClick(this)">Lorem</li>
                            <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                            <li index='3' onclick="menuItemClick(this)">Dolor</li>
                            <li index='4' onclick="menuItemClick(this)">Sit</li>
                            <li index='5' onclick="menuItemClick(this)" last>Amed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-subheder">
                Имахте ли прекачвания по пътя?
            </div>
            <div class="form-subtext">
                Моля, посочете летища на прекачване, които са част от същото пътуване и резервация. Това ще ни помогне да изчислим размера на обезщетението Ви по-точно.
            </div>
            <div class="form-row" style="justify-content:flex-start">

                <label class="radio">
                    <input type="radio" id="rYes" name="hasConnection">
                    <span>Yes</span>
                </label>
                <label class="radio">
                    <input type="radio" id="rNo" name="hasConnection">
                    <span>No</span>
                </label>
            </div>
            <div class="form-row" id="connectionAirPorts" style="flex-flow: column; display:none;">
                <div class="form-box-connection">
                    <div>
                        <input type="text" id="cbConnectionAirports" onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" dropdown placeholder="Летище" /><i class="icon"></i>
                        <i class="icon"></i>
                        <ul class="lSuggestoin">
                            <li index='1' onclick="menuItemClick(this)">Lorem</li>
                            <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                            <li index='3' onclick="menuItemClick(this)">Dolor</li>
                            <li index='4' onclick="menuItemClick(this)">Sit</li>
                            <li index='5' last onclick="menuItemClick(this)">Amed</li>
                        </ul>
                    </div>
                    <button class="bDelete" onclick="$(this).parent().remove()"><i class="icon"></i></button>
                </div>
                <div class="form-box">
                    <button class="bAdd" onclick="addCbAiports(this)"><i class="icon"></i></button>
                </div>
            </div>
            <div class="form-hedar">
                Копия на необходими документи
            </div>
            <div class="form-row">
                <div class="form-box upload-box">
                    <div>
                        <button class="upload" onclick="uploadClick(this)">Бордова карта</button><i class="icon"></i>
                        <input type="file" id="uBordCard" style="display:none" onchange="uploadChange(this)" />
                        <label class="file-upload"> -- </label>
                    </div>
                    <div>
                        <button class="upload" onclick="uploadClick(this)">Потвърждение за резервация</button><i class="icon"></i>
                        <input type="file" id="uReservation" style="display:none" onchange="uploadChange(this)" />
                        <label class="file-upload"> -- </label>
                    </div>
                    <div>
                        <button class="upload" onclick="uploadClick(this)">Документ за извършено плащане</button><i class="icon"></i>
                        <input type="file" id="uPayDocument" style="display:none" onchange="uploadChange(this)" />
                        <label class="file-upload"> -- </label>
                    </div>
                </div>
                <div class="form-box ">
                    <label>****</label>
                    <div>
                        <input type="text" id="iDate" placeholder="Дата на полета" /><i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box">
                    <button class="submit" type="submit" onclick="">Изпрати</button><i class="icon"></i>
                </div>
                <div class="form-box">
                    <button class="submit" type="reset" onclick="">Изчисти</button><i class="icon"></i>
                </div>
            </div>
        </form>
    </div>

    <div class="rigth-content">

    </div>
</div>

<script id="sCbTemplate" type="html/template">
    <div class="form-box-connection">
        <div>
            <input type="text" id="cbConnectionAirports" dropdown onkeyup="ddKeyUp(this, event)" onblur="cbBlur(this)" placeholder="Летище" /><i class="icon"></i>
            <ul class="lSuggestoin">
                <li index='1' onclick="menuItemClick(this)">Lorem</li>
                <li index='2' onclick="menuItemClick(this)">Ipsum</li>
                <li index='3' onclick="menuItemClick(this)">Dolor</li>
                <li index='4' onclick="menuItemClick(this)">Sit</li>
                <li index='5' onclick="menuItemClick(this)" last>Amed</li>
            </ul>
        </div>
        <button class="bDelete" onclick="$(this).parent().remove()"><i class="icon"></i></button>
    </div>
</script>
