<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">
        <div class="form-hedar">
            Разкажете ни за пътуването си
        </div>
        <div class="form-row">
            <div class="form-box error">
                <label>Име</label>
                <div>
                    <input type="text" id="iFirstName" placeholder="Име" /><i class="icon"></i>
                </div>
            </div>
            <div class="form-box">
                <div>
                    <label>
                        Фамиля
                    </label>
                </div>
                <div>
                    <input type="text" id="iLastName" placeholder="Име" /> <i class="icon-facebook"></i>
                </div>
            </div>
        </div>
        <div class="form-subheder">
            Имахте ли прекачвания по пътя?
        </div>
        <div class="form-subtext">
            Моля, посочете летища на прекачване, които са част от същото пътуване и резервация. Това ще ни помогне да изчислим размера на обезщетението Ви по-точно.
        </div>
    </div>
    <div class="rigth-content">

    </div>
</div>